<!--<div><a routerLink="/Segmento"><button mat-raised-button> Segmentos</button></a>
</div>
<div>
<a routerLink="/Categoria"><button mat-raised-button> Categorias</button></a>
</div>
<div>
    <a routerLink="/Dashboard"><button mat-raised-button> Dashboard</button></a>   
</div>!-->

<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="SideBarOpen">
        <app-sidebar>

        </app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
       <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>