
.main-div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
 

input{
    height: 35px;

}
.mat-card-header{
    justify-content: center;
    margin-right: 40px;
}

.mat-raised-button{
   
    height: 40px;
    width: auto;
    background-color:  #3f51b5;
    

}

mat-card {
width: 410px !important;
height: 300px;
margin: 3em auto;
text-align: center;
background-color: white;
color: black;
}
    
 mat-form-field {
display: block;
}

button{
    width: 130px !important;
}



::ng-deep .mat-form-field {
    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
}

