
<div class="main-div">
<mat-card class="mat-elevation-z12">
  <mat-card-content>
    <mat-card-header>
      <h1>FindBy</h1><mat-icon>search</mat-icon>
    </mat-card-header>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    
      <div class="form-group">
        <mat-form-field appearance="legacy">
          
          <input class="form-control" type="usuario" name="usuario" id="usuario" [(ngModel)]="login.usuario" required matInput
            #input maxlength="12" placeholder="Login">
           </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="legacy" class="full-width-input" >
          
          <input matInput  type="password" name="password" id="password" [(ngModel)]="login.senha" required placeholder="Senha">
              
            
         
        </mat-form-field>
      </div>
      <mat-card-actions class="full-width-input" style="margin-top: 15px; ;">
       
      <button mat-raised-button type="submit" [disabled]="form.invalid" style="margin-right:45px" >Entrar</button>
      <button mat-raised-button type="button" [routerLink]="['/create-account']">Criar conta</button>
        
    </mat-card-actions>
    <a href="#">esqueci minha senha</a>  
  </form>
  </mat-card-content>
</mat-card>
</div>