.authentication{
    width: auto;
    height: 1000px;
    margin: 0 auto;
  
    
    background-image: url("/../../assets/images/wallpaper1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
    
}


