<div mat-dialog-content>
  
    <mat-form-field class="full-width-input" appearance="legacy">
      <mat-label>% de Desconto</mat-label>
      <input matInput >
    </mat-form-field>
  
    <mat-form-field class="full-width-input" appearance="legacy">
      <mat-label>Duração (em dias)</mat-label>
      <input matInput >
    </mat-form-field>
  
      
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button >Criar</button>
    <button mat-raised-button (click)="onNoClick()" style="margin-left: 50px;">Cancelar</button>
        
  </div>