.mat-card{
    background-color:white !important;
    color: black !important;
}


.mat-button{
    width: auto;
    height: auto;
    margin-top: 120px;
    margin-left: 90px;    
    display: flex;
    align-items: center;
    
   
}


