<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <app-widget-product-card label="produto {{num}}"></app-widget-product-card>
    </div>
    
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" class="addProduct">
            
            <button mat-button (click)="openDialogNewProduct()">
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <p>
                            Adicionar novo produto
                        </p>
                    </mat-card-content>

                </mat-card>
            </button>
        </div>

    
</div>