

.mat-raised-button{
    background-color: white;
    color:black;
}

.mat-card-actions{
    text-align: center;
}

::ng-deep .mat-dialog-container {
        
        
    background-color: white !important;
    
    color:black;
  
   justify-content: center !important;
}


